body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  bottom: 0;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav ul {
  font-family: 'Belleza', sans-serif;
}

h1 {
  font-family: 'Belleza', sans-serif;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
}

.product-listing {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
}

.jumbotron {
  height: 100vh !important;
  min-height: 700px !important;
  background-image: url('../images/testbgimage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  color: white;
  text-align: center;
  padding-top: 4em;
  font-family: 'Finger Paint', cursive;
  font-size: 5em;
  text-shadow: 2px 2px 8px #000;
}

.aboutus {
  padding-top: 40%;
}

ul.dropdown-cart{
min-width:250px;
}
ul.dropdown-cart li .item{
display:block;
padding:3px 10px;
margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

ul.dropdown-cart li .item-left{
float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
float:left;
}
ul.dropdown-cart li .item-left span.item-info{
margin-left:10px;
}
ul.dropdown-cart li .item-left span.item-info span{
display:block;
}
ul.dropdown-cart li .item-right{
float:right;
}
ul.dropdown-cart li .item-right button{
margin-top:14px;
}
